*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은고딕";
    color: #333333;
}

body{
    width: 1000px;
    height: 600px;
    background-color: #ffffff;
    font-size: 20px;
}
a{
    text-decoration: none;
    display: block;
}
header{
    float: left;

}
.top{
    float: left;
    width: 200px;
    height: 650px;
}
.logo{
    float: left;
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.menu{
    float: left;
}
.imgslide{
    float: right;
    height: 350px;
    width: 800px
}
.contents{
    float:right;
    height: 200px;
    width: 800px;
}
.notice{
    float: left;
    width: 300px;
    height: 200px;
}
.gallery{
    float: left;
    width: 300px;
    height: 200px;
}
.shortcut{
    float: left;
    width: 200px;
    height: 200px;
}

.footer{
    float: right;
}
.bottom{
    float: right;
    height: 200px;
    width: 800px;
}
.btlogo{
    float: left;
    width: 200px;
    height: 100px;
}
.copy{
    float: left;
    width: 400px;
    height: 100px;
}
.familysite{
    float: left;
    width: 200px;
    height: 100px;
}